@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #0f171e; 
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
}


.wrapper{
    padding: 1.5rem 0;
}


@media  screen and  (max-width:48em){
    html{
        font-size: 55%;
    }
    .container{
        max-width: 70%;
    }
}




//////
/// mobile screen 500px /////
@media  screen and  (max-width:31em) {
    html{
        font-size: 55%;
    }
    .container{
        max-width: 90%;
    }
    
}



//////// //////// 
///   large screen laptop 
@media  screen and (min-width:81.25em) {
    .container{
        max-width: 70%;
    }
    
}



